@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: "Play", sans-serif;
  height: 100%;
  line-height: 1.4;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.conteiner {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  font-style: normal;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

.hero {
  min-height: 100vh;
  background: #F5F5F5;
  color: #292929;
  position: relative;
  /*&::before, &::after {
    @include tablets {
      display: none;
    }
  } */
}
.hero::before {
  position: absolute;
  content: url(../img/connect1.png);
  bottom: -1.25rem;
  right: 6.25rem;
}

.hero__conteiner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 0 4.06rem;
  background: url("../img/Ellipse.png") right center/50% no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__conteiner {
    background: none;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 20.1875rem;
    height: 20.1875rem;
    border-radius: 50%;
    background: url(../../img/Ellipse.png) center center/contain no-repeat;
  }
  .hero__title-section .hero__main-title {
    padding: 1.875rem 6% 0;
    margin-bottom: 0.3125rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .hero__title-section .hero__main-title {
    padding: 1.875rem 13% 0;
    font-size: 2rem;
    line-height: 2.25rem;
  }
}
@media screen and (max-width: 768px) {
  .hero__title-section .hero__title-desc {
    margin-bottom: 1.4375rem;
    padding: 0 14%;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .hero__title-section .hero__title-desc {
    padding: 0 8%;
    line-height: 1.43rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__main-title {
  font-weight: bold;
  line-height: 3.25rem;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.375rem;
}

.hero__title-desc {
  width: 80%;
  font-size: 1.31rem;
  font-family: Alegreya Sans;
  margin-bottom: 2.25rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.125rem;
}

.menu {
  margin: 0 30px;
  padding: 5px 0 0 0;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Alegreya Sans", sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.69rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.logo__link {
  width: 100%;
  height: 100%;
  display: block;
  /*img {
    max-width: 100%;
    display: block;
  }*/
}

.logo_pic {
  width: 100%;
  height: 100%;
  fill: #E01F3D;
}

.menu__link {
  color: black;
  white-space: nowrap;
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding: 3px 0 0 0;
}

.phone-number__text {
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.375rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__item {
  margin-right: 1.125rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature__icon {
  width: 2.56rem;
  height: 2.56rem;
  margin-right: 2.56rem;
}

.feature__icon-symbol {
  width: 100%;
  height: 100%;
}

.feature__text {
  max-width: 7.125rem;
}

.btn {
  font-weight: bold;
  padding: 1.125rem 2.56rem;
  border-radius: 6.25rem;
  text-transform: uppercase;
  line-height: 1;
  border: none;
  display: inline-block;
}
.btn--theme--red {
  background: #E01F3D;
  color: white;
}
.btn--theme--red:hover {
  color: #E01F3D;
  background: white;
}
.btn--theme--darkred {
  background: #CA1B36;
  color: white;
}
@media screen and (max-width: 768px) {
  .btn--theme--darkred {
    padding: 1.5rem 2.8125rem;
  }
}
.btn--theme--darkred:hover {
  color: #E01F3D;
  background: white;
}
.btn--theme--transparent {
  background: transparent;
  text-transform: none;
  color: white;
  font-weight: normal;
  line-height: 1.19rem;
  padding: 1.125rem 0.94rem;
}
@media screen and (max-width: 768px) {
  .btn--theme--transparent {
    color: red;
  }
}
.btn--theme--transparent:hover {
  color: #E01F3D;
  background: white;
}

.section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2rem;
  }
}

.section__title-reviews {
  margin-bottom: 2.125rem;
  padding: 8% 0 0 0;
}

.section--decor {
  position: relative;
  /*&::before, &::after {
    @include tablets {
      display: none;
    }
  }*/
}
.section--decor::after {
  position: absolute;
  content: url(../img/treangle.png);
  top: 0;
  left: 3.75rem;
}
.section--decor::before {
  position: absolute;
  content: url(../img/Polygon.png);
  top: 100%;
  width: 3.75rem;
  height: 3.75rem;
  right: 6.25rem;
  display: block;
  -webkit-transform: translateY(-44%);
          transform: translateY(-44%);
}

.section__form {
  background: url("../img/blacktheme.jpg") center center/cover no-repeat;
  color: white;
}

.section__title-form {
  margin-bottom: 3.63rem;
}
@media screen and (max-width: 768px) {
  .section__title-form {
    margin-bottom: 1.6875rem;
  }
}

.headline__title {
  margin-bottom: 1.125rem;
  padding: 8% 0 0 0;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 2.29rem;
  }
}

.headline__subtitle {
  text-align: center;
  padding: 0 20%;
  color: #666;
  margin-bottom: 3.875rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 6%;
    font-size: 1.14rem;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item::before {
  content: url(../img/shape.png);
  position: absolute;
  top: 3.125rem;
  right: 0;
  -webkit-transform: translatex(50%);
          transform: translatex(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    text-align: start;
    margin-bottom: 1.5rem;
  }
  .benefit:last-child {
    margin-bottom: 0;
  }
}

.benefit__image--wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .benefit__image--wrapper {
    margin-bottom: 0;
  }
}

.benefit__icon {
  position: absolute;
  width: 4.25rem;
  height: 4.25rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .benefit__text {
    padding: 0 13% 0 4%;
  }
}

.benefit__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.44rem;
}

.benefit__desc {
  color: #666666;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.63rem 2.63rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.94rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    margin-bottom: 2rem;
  }
}
.reviews__display::before {
  content: "";
  width: 5.19rem;
  height: 5.19rem;
  display: block;
  border-radius: 50%;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  top: -3.81rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 15.81rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
    margin-bottom: 2rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.69rem;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: 1rem;
  }
}

.reviews__text {
  margin-bottom: 2.25rem;
  color: #666666;
  width: 83%;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.reviews__autor {
  font-weight: bold;
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .reviews__autor {
    font-weight: normal;
  }
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 0.56rem;
}
.interactive-avatar:last-child {
  margin-right: 0;
}
.interactive-avatar--active {
  border: 0.25rem solid #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.69rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
    margin-bottom: 14px;
  }
  .form__col:last-child {
    margin-bottom: 0;
  }
}
.form__col:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .form__col .form__controls--last {
    margin-bottom: 2.5rem;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.25rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.875rem;
  }
}
.form__row:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .form__row--textarea {
    margin-bottom: 20px;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.06rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 1.25rem 0.75rem;
  border: 0.19rem solid transparent;
  border-radius: 0.25rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.125rem 0.375rem;
    height: 2.25rem;
  }
}
.form__input:focus {
  border: 0.19rem solid #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.375rem;
  }
}

.form__title {
  margin-bottom: 0.375rem;
}

@media screen and (max-width: 768px) {
  .form__btns--tablets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.31rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1rem;
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
}
.radio--checkbox .radio__visible::before {
  background: url(../img/checkmark.png) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.56rem;
  height: 1.56rem;
  border-radius: 50%;
  position: relative;
  background: white;
  margin-right: 0.625rem;
}
.radio__visible::before {
  content: "";
  width: 0.81rem;
  height: 0.81rem;
  border-radius: 50%;
  position: absolute;
  background: #E01F3D;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.fixed-menu {
  position: fixed;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.44rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border: 0.06rem solid #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #E01F3D;
}

.fixed-menu__link {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 0.06rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map__section {
  position: relative;
}

.map__content {
  height: 100%;
}

.map__img {
  width: 100%;
  min-height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 5.375rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .contacts__content {
    margin-bottom: 19px;
  }
}

.contacts {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .footer__phone-number {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.phone-number__svg {
  width: 12px;
  height: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
}

.phone-number__svg-symbol {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .phone-number__svg-symbol {
    fill: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .phone-number__svg-symbol {
    fill: #000;
  }
}

.phone-number__text--footer {
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .phone-number__text--footer {
    color: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .phone-number__text--footer {
    color: #000;
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item {
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__item:hover .socials__icon-symbol {
  fill: #000;
}

.socials__link {
  display: block;
}

.socials__icon-symbol {
  width: 1.875rem;
  height: 1.875rem;
  fill: #B3B3B3;
}

.humburger {
  width: 26px;
  height: 24px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .humburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.humburger__plank {
  display: block;
  width: 26px;
  height: 4px;
  border-radius: 6px;
  background: black;
}