.benefit {
  text-align: center;
  @include phones {
    text-align: start;
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.benefit__image--wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
  @include phones {
    margin-bottom: 0;
    width: 6rem;
    height: 6rem;
  }
}

.benefit__icon {
  position: absolute;
  width: 4.25rem;
  height: 4.25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__text {
  @include phones {
    padding: 0 0 0 4%;
  }
}
.benefit__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.44rem;
}
.benefit__desc {
  color: #666666;
}