
.fullscreen-menu__close {
    display: block;
    position: fixed;
    top:rem(31px);
    right: 4%;  
}

.close__icon {
    width: 20px;
    height: 20px;
}
.close__icon-symbol {
    width: 100%;
    height: 100%;
}