.features {
  display: flex;
  flex-wrap: wrap;
}
.feature {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.features__item {
  margin-right: 1.125rem;
  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  width: 2.56rem;
  height: 2.56rem;
  margin-right: 2.56rem;

}
.feature__icon-symbol {
  width: 100%;
  height: 100%;
  
}
.feature__text {
  max-width: 7.125rem;
}
