.hero {
  //min-height: 100vh;
  height: 100%;
  min-height: rem(650px);
  background: #F5F5F5;
  color: #292929;
  position: relative;
  &::before {
    position: absolute;
    content: url(../img/connect1.png);
    bottom: 0;
    right: 5%;
    transform: translateY(50%);

  }

  /*&::before, &::after {
    @include tablets {
      display: none;
    }
  } */ 
  

}
.hero__conteiner {
  //min-height: 100vh;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0 4.06rem;
  background: url("../img/Ellipse.png") right center/50% no-repeat;

  @include tablets {
    background: none;
  }
  
  
}
.hero__title-section {
  width: 46%;
  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::before {
      content: "";
      width: rem(323px);
      height: rem(323px);
      border-radius: 50%;
      background: url("../img/Ellipse.png")center center/contain no-repeat;
      @include phones {
        width: 18rem;
        height: 18rem;

      }
    }

    .hero__main-title {
      padding: rem(30px) 6% 0;
      margin-bottom: rem(5px);
      @include phones {
        padding: rem(30px) 13% 0;
        font-size: rem(32px);
        line-height: rem(36px);
      }
    }
    .hero__title-desc {
      margin-bottom: rem(23px);
      padding: 0 14%;
      @include phones {
        padding: 0 8%;
        line-height: 1.43rem;
      }

    }

  }


}

.hero__icons-section {
  @include tablets {
    display: none;
  }
}
.hero__main-title {
  font-weight: bold;
  line-height: 3.25rem;
  font-size: rem(48px);
  text-transform: uppercase;
  margin-bottom: 1.375rem;
}
.hero__title-desc {
  width: 80%;
  font-size: 1.31rem;
  font-family: Alegreya Sans;
  margin-bottom: 2.25rem;
}