.reviews__display {
  background: #F8FAF9;
  padding: 2.63rem 2.63rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.94rem;

  @include tablets {
    margin-bottom: rem(32px);
  }
  @include phones {
    margin-bottom: 1rem;
    padding: 2.63rem 0.63rem;
  }

  &::before {
    content: "";
    width: 5.19rem;
    height: 5.19rem;
    display: block;
    border-radius: 50%;
    background: #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -3.81rem;

    

  }
}

.reviews__list {
  position: relative;
  min-height: 280px;
}


.reviews__item {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  &.active {
    position: static;
    opacity: 1;
    pointer-events: unset;

  }

}



.reviews__display-inner {
  display: flex;
  @include tablets {
    flex-direction: column;
    align-items: center;
  }
  
}
.reviews__avatar {
  width: 15.81rem;
  height: 16.5rem;
  @include tablets {
    width: rem(130px);
    height: rem(130px);
    margin-bottom: rem(32px);
  }
  
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {

  flex: 1;
  margin-left: 1.25rem;

  @include tablets {
    display: flex;
    margin-left: 0;  
  }
  flex-direction: column;
  align-items: center;
}
.reviews__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.69rem;
  @include tablets {
    margin-bottom: rem(16px);
    text-align: center;
  }
}
.reviews__text {
  margin-bottom: 2.25rem;
  color: #666666;
  width: 83%;
  @include tablets {
    width: 100%;
    text-align: center;
    margin-bottom: rem(16px);
  }
}

.reviews__autor {
  font-weight: bold;
  font-size: 1.125rem;
  @include tablets {
    font-weight: normal;
  }
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  
}


