.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__title {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  @include phones {
    font-size: rem(32px);
  }

}
.section__title-reviews {
  margin-bottom: 2.125rem;
  padding: 8% 0 0 0;
}

.section--decor {
  position: relative;
  &::after {
    position: absolute;
    content: url(../img/treangle.png);
    top: 0;
    left: 3.75rem;
    
    
  }
  &::before {
    position: absolute;
    content: url(../img/Polygon.png);
    top: 100%;
    width: 3.75rem;
    height: 3.75rem;
    right: 6.25rem;
    display: block;
    transform: translateY(-44%);

  }

  /*&::before, &::after {
    @include tablets {
      display: none;
    }
  }*/
}
 

.section__form {
  background:url("../img/blacktheme.jpg")center center/cover no-repeat;
  color: white;
}
.section__title-form {
  margin-bottom: 3.63rem;
  @include tablets {
    margin-bottom: rem(27px);
  }
}
