.section {
  
  //min-height: 100vh;
  height: 100%;
  min-height: rem(650px);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__title {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  @include phones {
    font-size: rem(32px);
  }

}
.section__title-reviews {
  margin-bottom: 2.125rem;
  @include phones {
    margin-bottom: 0.125rem;
  }
}

.section--decor {
  position: relative;
  
  &::before {
    position: absolute;
    content: url(../img/Polygon.png);
    top: 100%;
    width: 3.75rem;
    height: 3.75rem;
    right: 5%;
    display: block;
    transform: translateY(-44%);

  }

  /*&::before, &::after {
    @include tablets {
      display: none;
    }
  }*/
}

.products-section {
  background-color: #F8FAF9;
  position: relative;
  &::after {
    position: absolute;
    content: url(../img/treangle.png);
    top: 0;
    left: 5%;
    transform: translateY(-59%);
    
    
  }
  &::before {
    position: absolute;
    content: url(../../img/Rectangle.png);
    top:100%;
    right: 5%;
    transform: translateY(-29%);


  }
}
.section-team {
  padding: 16px 0px 70px;
 }

.section__form {
  background:url("../img/blacktheme.jpg")center center/cover no-repeat;
  color: white;
}
.section__title-form {
  margin-bottom: 3.63rem;
  @include tablets {
    margin-bottom: rem(27px);
  }
}

.section-team__title {

  margin-bottom: rem(53px);

}
